@page "/"
@inject HttpClient Http

@if (loggedInUser != null)
{
    @if (page == 1)
    {
        <OverView></OverView>
    }
    else if (page == 2)
    {
        <Profile></Profile>
    }
    else
    {
        <Details userID="theo123" account="targetAccount"></Details>
    }

    <section class="navMenu">
        <div @onclick="() => SetPage(0)">
            <i class="fa fa-user-circle-o"></i>
        </div>
        <div @onclick="() => SetPage(1)">
            <i class="fa fa-users"></i>
        </div>
        <div @onclick="() => SetPage(2)">
            <i class="fa fa-gear"></i>
        </div>
    </section>
}
else
{
    <Login loggedIn="(user) => loggedInUser = user"></Login>
}



@code {
    private int page = 0;
    private Account targetAccount;
    private LoginUser loggedInUser;

    protected override async Task OnInitializedAsync()
    {
        targetAccount = await Http.GetFromJsonAsync<Account>("api/account/get.json");
    }

    void SetPage(int p)
    {
        page = p;
    }
}
