@page "/"
@inherits IndexPage

@if (loggedInUser != null)
{
    <SubjectsUpdater subjectsUpdated="SubjectsUpdated" user="loggedInUser"></SubjectsUpdater>

    @if (focusedNotifications.Count > 0)
    {
        <FullscreenNotification notificationData="focusedNotifications.First()" notificationButtonClicked="NotificationButtonClicked"></FullscreenNotification>
    }
    else
    {
        @if (page == 1)
        {
            <OverView Subjects="subjects" User="loggedInUser" TargetSubjectChanged="NewTargetSubject" notifications="activeNotifications" notificationClicked="NotificationClicked"></OverView>
        }
        else if (page == 2)
        {
            <Profile User="loggedInUser" subjects="subjects" accountUpdated="x => AccountUpdated(x)"></Profile>
        }
        else
        {
            <Details subject="targetSubject" activeNotifications="activeNotifications" notificationClicked="NotificationClicked" User="loggedInUser"></Details>
        }

        <section class="navMenu">
            @if (page == 0)
            {
                <div class="focus" @onclick="() => SetPage(0)">
                    <i class="fas fa-user"></i>
                </div>
            }
            else
            {
                <div @onclick="() => SetPage(0)">
                    <i class="fas fa-user"></i>
                </div>
            }
            @if (page == 1)
            {
                <div class="focus" @onclick="() => SetPage(1)">
                    <i class="fa fa-users"></i>
                </div>
            }
            else
            {
                <div @onclick="() => SetPage(1)">
                    <i class="fa fa-users"></i>
                </div>
            }
            @if (page == 2)
            {
                <div class="focus" @onclick="() => SetPage(2)">
                    <i class="fas fa-cog"></i>
                </div>
            }
            else
            {
                <div @onclick="() => SetPage(2)">
                    <i class="fas fa-cog"></i>
                </div>
            }
        </section>
    }
}
else
{
    <Login loggedIn="(user) => loggedInUser = user"></Login>
}

@if (playSound)
{
    <audio autoplay mute>
        <source src="/Sounds/@sound" />
    </audio>
}
else
{
    <audio muted>
        <source src="/Sounds/@sound" />
    </audio>
}