@page "/"
@inject HttpClient Http

@if (isLoggedIn)
{
    @if (page == 1)
    {
        <OverView></OverView>
    }
    else if (page == 2)
    {
        <Profile></Profile>
    }
    else
    {
        <Details userID="theo123"></Details>
    }
}
else
{
    <p>You are not logged in yet.</p>
}

<section class="navMenu">
    <div @onclick="() => SetPage(0)">
        <i class="fa fa-user-circle-o"></i>
    </div>
    <div @onclick="() => SetPage(1)">
        <i class="fa fa-users"></i>
    </div>
    <div @onclick="() => SetPage(2)">
        <i class="fa fa-gear"></i>
    </div>
</section>

@code {
    private bool isLoggedIn = true;
    private int page = 0;

    void SetPage(int p)
    {
        page = p;
    }
}
