@page "/"
@inject HttpClient Http

<div class="bodyContainer">
    <header class="profileName">
        <h1>Thomas Bowman</h1>
    </header>

    <div class="detailedSecondaryView">
        <div>
            <div> <i class="fa fa-battery-2"></i> </div>
            <p>55%</p>
        </div>
        <div>
            <div> <i class="fa fa-thermometer-half"></i> </div>
            <p>15%</p>
        </div>
    </div>

    <div class="detailedMainView">
        <div>
            <p>7.7</p>
        </div>
        <div>
            <div>
                <p>2m</p>
            </div>
            <div>
                <i class="fa fa-long-arrow-right"></i>
            </div>
        </div>
    </div>
    <p class="bloodGlucoseStatus">Blood sugar stable</p>

    <div class="detailSettings">
        <a href="details.html"><div class="active"><i class="fa fa-pencil-square-o"></i></div></a>
        <a href="detailsNotification.html"><div><i class="fa fa-bell"></i></div></a>
    </div>

    <section class="notes">
        <div>
            <h4>
                High blood sugar low:
            </h4>
            <p>
                Ask Thomas if he has eaten or drinken something with fast carbohydrates.
                <br><br>If blood sugar has been low for a longer period his parents should also be called.
                <br><br>If blood sugar gets (Around 2.2 or lower) keep a good eye on Thomas.
            </p>
        </div>

        <div>
            <h4>
                High blood sugar high:
            </h4>
            <p>
                If bloods sugar is high, ask Thomas whether he has taken some insulin.
                <br><br>If blood sugar continues to be high, then help Thomas measure ketones.
            </p>
        </div>
    </section>

    <section class="navMenu">
        <a class="focus" href="details.html"> <div><i class="fa fa-user-circle-o"></i></div> </a>
        <a href="overview.html"> <div><i class="fa fa-users"></i></div> </a>
        <a href="profile.html"> <div><i class="fa fa-gear"></i></div> </a>
    </section>


</div>

@code {
    private Account account;

    protected override async Task OnInitializedAsync()
    {
        account = await Http.GetFromJsonAsync<Account>("api/account/get.json");
    }

    class Account
    {
        public string ID { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string PhoneNumber { get; set; }
        public string NSLink { get; set; }
        public bool IsEUMeasure { get; set; }
    }
}
