<header class="overviewHeader">
    <a href="overview.html"> <div class="focus"><i class="fa fa-users"></i></div> </a>
    <a href="overviewNotifications.html"> <div><i class="fa fa-bell"></i></div> </a>
</header>

<section class="overviewContainer">

    <div class="scrollbar">
        <a href="details.html">
            <div class="stabile">
                <h3>Thomas Bowman</h3>
                <div>
                    <div class="bloodGlucose"> <p>7.7</p> <i class="fa fa-long-arrow-right"></i></div>
                    <div> <i class="fa fa-battery-2"></i> </div>
                    <div> <i class="fa fa-thermometer-half"></i> </div>
                </div>
            </div>
        </a>

    </div>

</section>

@code {

}
