<header class="overviewHeader">
    @if (page == 0)
    {
        <div class="focus" @onclick="() => SetPage(0)">
            <i class="fa fa-users"></i>
        </div>
    }
    else
    {
        <div @onclick="() => SetPage(0)">
            <i class="fa fa-users"></i>
        </div>
    }
    @if (page == 1)
    {
        <div class="focus" @onclick="() => SetPage(1)">
            <i class="fa fa-bell"></i>
        </div>
    }
    else
    {
        <div @onclick="() => SetPage(1)">
            <i class="fa fa-bell"></i>
        </div>
    }
    
</header>

<section class="overviewContainer">
    <div class="scrollbar">
        @if (Subjects != null)
        {
            @foreach (var subject in Subjects.Values)
	        {
		        <SmallDetailComponent Subject="subject" TargetSubjectChanged="TargetSubjectChanged"></SmallDetailComponent>
	        }
        }
    </div>
</section>

@code {
    [Parameter] public Dictionary<string, Subject> Subjects { get; set; }
    [Parameter] public EventCallback<string> TargetSubjectChanged { get; set; }

    private int page = 0;

    private void SetPage(int p)
    {
        page = p;
    }
}
