<header class="profileName">
    <h1>User Name</h1>
    <i>No Nightscout connected</i>
</header>

<section class="navProfile">

    <div>
        <p>Account</p>
        <p>Nightscout</p>
        <p>Manage watchers</p>
    </div>

    <div>
        <p>Pending requests  <!-- <span class="notificationBadge">1</span>  --> </p>
    </div>

</section>

@code {

}
