<div class="editAccount" >
    <form>
        <label>First Name</label>
        <input type="text" placeholder="@user.FirstName"/>
        <label>Last Name</label>
        <input type="text" placeholder="@user.LastName"/>
        @*<label>Phone Number</label>*@
        @*<input type="number" placeholder="@user.PhoneNumber"/>*@
        <label>Email</label>
        <input type="email" placeholder="@user.Email"/>
        <button type="submit" value="Save Changes">Save Changes</button>
    </form>
    <div class="deleteAccBtn">
        Delete Account
    </div>
</div>

@code {
    [Parameter] public LoginUser user { get; set; }
}
