@inject HttpClient Http

<section class="currentNotificationsDetails">
    <div class="scrollbar">
        @if (notifications != null)
        {
            @foreach (var notification in notifications)
            {
                if (notification.Type == NotificationType.Message)
                {
                    <div class="message">
                        <p>@notification.Mesage</p>
                    </div>
                }
                else
                {
                    <div class="warning">
                        <p>@notification.Mesage</p>
                    </div>
                }
            }
        }
    </div>
</section>

@code {
    [Parameter]
    public List<NotificationData> notifications { get; set; }
}
