<section class="currentNotificationsDetails">
    <div class="scrollbar">
        @if (notifications != null)
        {

            @foreach (var notification in notifications.Values)
            {
                if (notification.Subject.ID.Equals(SubjectID))
                {
                    if (notification.Data.Type == NotificationType.Message)
                    {
                        <div class="message" @onclick="() => NotificationClicked(notification)">
                            <p>@notification.Data.Title</p>
                        </div>
                    }
                    else
                    {
                        <div class="warning" @onclick="() => NotificationClicked(notification)">
                            <p>@notification.Data.Title</p>
                        </div>
                    }
                }
            }
        }
    </div>
</section>

@code {
    [Parameter] public Dictionary<string, ActiveNotification> notifications { get; set; }
    [Parameter] public EventCallback<ActiveNotification> notificationClicked { get; set; }
    [Parameter] public string SubjectID { get; set; }

    private async Task NotificationClicked(ActiveNotification data)
    {
        await notificationClicked.InvokeAsync(data);
    }
}
