<div class="notificationBox largeMargin">

    <h1><i class="@notificationData.IconClassName"></i></h1>
    <h2>@notificationData.Note</h2>



    <div class="notificationOptions" @onclick="() => notificationButtonClicked.InvokeAsync(NotificationButtonType.Snooze)">
        <div class="notificationBtn">
            Snooze
        </div>
        @if (notificationData.Type == NotificationType.Message)
        {
            <div class="notificationBtn" @onclick="() => notificationButtonClicked.InvokeAsync(NotificationButtonType.Dismiss)">
                Dismiss
            </div>
        }
    </div>

</div>

@code {
    [Parameter] public NotificationData notificationData { get; set; }
    [Parameter] public EventCallback<NotificationButtonType> notificationButtonClicked { get; set; }
}
