@if (Subject != null)
{
    <a>
        <div class="stabile" @onclick="ChangeTarget">
            <h3>@Subject.GetName()</h3>
            <div>
                <div class="bloodGlucose"> 
                    <p>@String.Format(CultureInfo.InvariantCulture, "{0:0.0}", Subject.PumpData.BloodGlucose)</p> 
                    <DeltaIcon Status="Subject.PumpData.Status"></DeltaIcon>
                </div>
                <div>
                    <BatteryIcon BatteryStatus="Subject.PumpData.BatteryStatus"></BatteryIcon>
                </div>
                <div>
                    <i class="fa fa-thermometer-half"></i>
                </div>
            </div>
        </div>
    </a>
}
@code {
    [Parameter] public Subject Subject { get; set; }
    [Parameter] public EventCallback<string> TargetSubjectChanged { get; set; }

    private void ChangeTarget()
    {
        TargetSubjectChanged.InvokeAsync(Subject.ID);
    }
}
