@inject INetworkHelper Network;

<div class="connectionBox">
    <div class="connectionExpireDate">
        <p class="text">Expires: @Permission.GetExpireDate()</p>
    </div>
    <div class="connectionAccess">
        <p class="text">@Permission.GetAccessString()</p>
    </div>
    <div class="twoBtns">
        @if (Permission.IsSelf == false) {
            @if (Permission.IsOwner) {
                <div @onclick="() => Edit()">
                    <p>Edit</p>
                </div>
            }
            <div @onclick="() => Delete(Permission.Id)">
                <p>Delete</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public Permission Permission { get; set; }

    private void Edit()
    {
        Network.EditPermission(Permission);
    }

    private void Delete(int id)
    {
        Network.DeletePermission(id);
    }
}