<div class="watcherBox">
    <div @onclick="() => open = !open" class="watcherNameHeader">
        <div class="watcherName">
            <p class="watcherName">@Name</p>
        </div>
        <div class="connectionCount">
            <p>@Permissions.Count Connections</p>
        </div>
    </div>
    @if (open)
    {
        @foreach (var p in Permissions)
        {
            <div>
                <WatcherComponent Permission="p"></WatcherComponent>
            </div>
        }
    }
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public List<Permission> Permissions { get; set; }
    private bool open = false;
}
